{% extends "base.html" %}


{% block body %}
<div class="section_details_content">
    {% if project %}
    {% for category,msg in get_flashed_messages(True) %}
    <div class="flash {{category}}">{{msg}}</div>
    {% endfor %}

    <div class="project_details">


        <div class="title_project">
            {{project.name}}
        </div>
        <div class="desc_project">
            {{project.description}}
        </div>
        <div class="buttons_section">
<!--            <a   href="/projects/update/{{project.id}}">-->
                <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#updateModal">
                    Edit
                </button>
<!--            </a>-->

            <button type="button" class="btn delete" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
            </button>
            <a class="btn a_link" href="/projects">Go back</a>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Are you sure you want to delete the project "{{project.name}}"?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        <a class="btn delete" href="/projects/delete/{{project.id}}">Yes</a>
                    </div>
                </div>
            </div>
        </div>
        {% if form %}
        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5">Editing</h5>
                    </div>
                    <div class="modal-body">

                        {% from "_formhelpers.html" import render_field %}
                        <form class="add_user_form" method="POST" action="/projects/update/{{project.id}}">
                            {{ form.hidden_tag()}}
                            <div class="mb-3">
                                {{ render_field(form.name) }}
                            </div>
                            <div class="mb-3">
                                {{ render_field(form.description) }}
                            </div>
                            <div>
                                {{form.submit(class_="btn btn-primary")}}
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}


    </div>

    {% endif %}

</div>


{% endblock %}